/* .banner{
    background-image: url('fc1f79e18cdc1a12320b9b10ec3e253d.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
     */
/* .overlay{
    
    opacity: 0;
    background-color: white;
}  */
